@import 'modern-normalize/modern-normalize.css';

a {
  display: block;
}

input {
  margin-top: 36px;
  margin-left: 156px;
  margin-bottom: 32px;
  padding: 8px 16px;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: none;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  margin-right: 8px;
}

button {
  width: 75px;
  height: 40px;
  padding: 8px 16px;
  border: 0;
  background-color: #cfcfcf;
  border-radius: 8px;
  border: 0;
  color: #989898;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  cursor: not-allowed;
}

button:enabled {
  background-color: #4e75ff;
  color: white;
  cursor: pointer;
  transition: background-color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:enabled:hover {
  background-color: #6c8cff;
  color: white;
}

.timer {
  display: flex;
  gap: 24px;
  margin-left: 156px;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  letter-spacing: 1.6px;
  text-align: center;
  justify-content: center;
  min-width: 55px;
}
.label {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
